<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>SSO单点登录系统 Powered by haiming.vip</title>
</head>
<body>
SSO单点登录系统 Powered by haiming.vip<br/>
<a href="http://haiming.com:7777/crm" target="_blank">crm客户关系管理系统</a><br/>
<a href="http://haiming.com:8888/fd" target="_blank">fd财务管理系统系统</a><br/>
<a href="http://haiming.com:9999/hr" target="_blank">hr人力资源管理系统</a><br/>
</body>
